<div class="main-container">
  <div class="flipShow">
      <div class='flex-curate'>
        <div id='curate-path'>
          <h1>  <%= link_to '2CURATE', codes_path %></h1>
        </div>

        <div id="curate-text">
          <h1>Second C.
              <br>Independent curator based in Belgium.
              On your marks, set, go.
              Curating your art. Against the flow. The art of curating.
              Exhibition organisation. For the culture.
              When I’m not curating, I’m coding.
              This was not a pitch.
          </h1>
        </div>

      </div>

      <div class="info-curate">
        <h1><a href="mailto: hello@worldof2c.com">CONTACT</a>
          <br><a href="https://www.instagram.com/j_enaimarla/">IG</a>
          <br><%= link_to 'HOME', root_path %></h1>
      </div>

    <!--   <div class="ig-curate">
        <h1><a href="https://www.instagram.com/j_enaimarla/">IG</a></h1>
      </div>

      <div class="back-button-curate">
        <h1><%= link_to 'HOME', root_path %></h1>
      </div> -->

      <footer class='footer'>
        <span class="copyright">
          <h1> Made with love in Belgium © World of 2C 2020 </h1>
        </span>
      </footer>
  </div>
</div>
