
  html {
    background-color: #fffff0;
  }

  h1 {
    // border-style: #ff0000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    color: #fffff0;
    font-family: 'Anton';
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 4px;
  }

  a {
    text-decoration: none;
    color: #ff0000;
  }

  #home-text {
    text-align: center;
    a {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ff0000;
      color: #fffff0;
    }
  }

  .name {
    margin: 0 auto;
    text-align: center;
    h1 {
      font-family: 'Anton';
      font-size: 250px;
      font-weight: bold;
      letter-spacing: 10px;
      // text-decoration: line-through;
    }
  }




@media(max-width: 767px)

{

  html {
    background-color: #fffff0;
  }

  h1 {
    color: #ff0000;
    font-family: 'Anton';
    font-size: 10px;
    font-weight: bold;
  }

   a {
    text-decoration: none;
    color: #ff0000;
  }

  #home-text {
      text-align: center;
    }

  .name {
    margin: 0-auto;
    h1 {
      font-size: 100px;
    }
  }



}
