
  html {
    background-color: #fffff0;
  }

  h1 {
    color: #f688bb;
    font-family: 'Lato';
    font-size: 60px;
    font-weight: lighter;
  }

  a {
    text-decoration: none;
    color: #f688bb;
  }

  #home-text, .name{
    margin-top: 70px;
    text-align: center;
  }

  .name {
    margin-top: 150px;
    h1 {
      font-size: 80px;
      letter-spacing: 40px;
      // text-decoration: line-through;
    }
  }




@media(max-width: 767px)

{

  html {
    background-color: #F2E8FC;
  }

  h1 {
    color: #F9B384;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: lighter;
  }

   a {
    text-decoration: none;
    color: #F9B384;
  }

  #home-text {
      margin-top: 200px;
      text-align: center;
    }

  .name {
    margin-bottom: 0;
    h1 {
      font-size: 50px;
      letter-spacing: 20px;
    }
  }


}
