  // html {
  //   background-color: white;
  // }
@font-face {
    font-family: 'Karelia Web Outtakes';
    src: font-url( asset-path('KareliaWeb-Outtakes.woff2')) format('woff2'),
         font-url( asset-path('KareliaWeb-Outtakes.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #f5f5f5;
}

.svg {
  position: absolute;
  #Calque_1 {
    height: 700px;
    margin-left: 350px;
  }
}

.introduction {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-left: 15px;
  a {
    text-decoration: underline;
    text-decoration-color:#00ff26;
    color: black;
  }
}

.intro {
  margin-top: 15px;
  margin-right: 15px;
}

.description, .intro {
  p, h2 {
    font-family: 'Karelia Web Outtakes';
    font-size: 13px;
    font-weight: ligher;
  }
}


.container {
  display: flex;
  justify-content: space-around;
  height: 350px;
  // border-style: solid;
}

.first, .second {
  width: 250px;
  height: 350px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #00ff26;
   a {
    text-decoration: none;
    color: black;
  }
   p {
    position: relative;
    font-family: 'Karelia Web Outtakes';
    font-size: 15px;
    font-weight: ligher;
    margin-left: 100px;
    margin-top: -10px;
  }

}

.second {
  margin-top: 150px;
  margin-left: -500px;
}

.extra {
  height: 250px;
   p {
    position: relative;
    font-family: 'Karelia Web Outtakes';
    font-size: 13px;
    font-weight: ligher;
    margin-left: 85px;
    margin-top: -10px;
  }
}

.other {
  margin-top: 100px;
  margin-left: 100px;
  width: 250px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #00ff26;
}


footer {
  // margin-top: 680px;
  text-align: center;
  p {
    font-family: 'Karelia Web Outtakes';
    font-size: 10px;
    letter-spacing: 1px;
    color: #252525;
  }
}



// //RESPONSIVENESS
@media only screen
and (min-width : 320px)
and (max-width : 568px)
{

.introduction {
  display: flex;
  flex-wrap: wrap;
}

.description {
  margin-left: 0px;
}

.intro {
  margin-left: 0px;
  text-align: left;
  margin-top: 10px;
  border-top-style: solid;
  border-width: 1px;

}


footer{
  margin-top: 580px;
}

.svg {
  position: absolute;
  #Calque_1 {
  height: 400px;
  margin-left: -10px;
  margin-top: 50px;
}
}
}


