<div id="home-text">
  <h1>
    WELCOME TO A WORLD OF 2C TO CODE AND CURATE YOUR PROJECTS
  </h1>
</div>


 <div class="name">
    <h1><%= link_to "CODE", codes_path%><%= link_to "CURATE", curates_path%> </h1>
 </div>



 <footer class='footer-home'>
  <span class="copyright-home">
    <h1> MADE WITH LOVE IN BELGIUM © WORLD OF 2C 2020 </h1>
  </span>
</footer>

