
<div class="name">
  <div class="name-code">
    <h1><%= link_to "CODE", codes_path%></h1>
  </div>

  <div class="text">
    <h2> Welcome to a world of 2C to code and curate your projects.</h2>
    <h2><a href="mailto: hello@worldof2c.com">CONTACT</a>
        <br><a href="https://www.instagram.com/j_enaimarla/">IG</a></h2>
  </div>

  <div class="name-curate">
    <h1><%= link_to "CURATE", curates_path%> </h1>
  </div>
</div>

 <footer class='footer-home'>
  <span class="copyright-home">
    <h1> © 2C 2020 </h1>
  </span>
</footer>

