 <div class="name">
    <h1><%= link_to "CODE", codes_path%><%= link_to "CURATE", curates_path%> </h1>
    <h2> WELCOME TO A WORLD OF 2C TO CODE AND CURATE YOUR PROJECTS.</h2>
 </div>

  <div class="info">
    <h1><a href="mailto: hello@worldof2c.com">CONTACT</a>
      <br><a href="https://www.instagram.com/j_enaimarla/">IG</a></h1>
  </div>



 <footer class='footer-home'>
  <span class="copyright-home">
    <h1> MADE WITH LOVE IN BELGIUM © 2C 2020 </h1>
  </span>
</footer>

