

  <div class="introduction">
    <div class="description">
      <p>Marla Shena (Marla SH)
        <br> Art curator, Web developer And Independent studio
        <br><a href="https://www.instagram.com/marlashn/">instagram</a>, <a href="mailto: hello@worldof2c.com">contact</a></p>
    </div>

    <div class="intro">
        <p> Welcome to a world of 2C to code and curate your projects.
    </div>
  </div>

  <div class='svg'>
    <%= render partial: 'shared/world' %>
  </div>

<div class="container">
  <div class="first">
    <p><%= link_to "CODE", codes_path%></p>
  </div>
  <div class="second">
    <p><%= link_to "CURATE", curates_path%></p>
  </div>
</div>

<div class="extra">
  <div class="other">
    <p>other world</p>

  </div>
</div>




   <footer>
      <p> © 2C 2020 </p>
  </footer>

