

  <div class="introduction">
    <div class="description">
      <p>Marla Shena (Marla SH)
        <br> Independent curator, Web developer And Independent studio
        <br><a href="https://www.instagram.com/marlashn/">instagram</a>, <a href="mailto: mshenaj@gmail.com">contact</a></p>
    </div>

    <div class="intro">
        <p> Welcome to a world of 2C to code and curate your projects.
        <br>[links available soon]
    </div>
  </div>

  <div class='svg'>
    <%= render partial: 'shared/world' %>
  </div>

  <div class="container">
    <div class="first">
      <p>CODE</p>
    </div>
    <div class="second">
      <p>CURATE</p>
    </div>
    <div class="other">
      <p>other world</p>
    </div>
  </div>



    <footer>
      <p> © 2C 2020 </p>
    </footer>

