

<div class="introduction">
  <div class="description">
    <p>Marla Shena (Marla SH)
      <br> Art curator, Web developer And Independent studio
      <br><a href="https://www.instagram.com/marlashn/">instagram</a>, <a href="mailto: hello@worldof2c.com">contact</a></p>
  </div>

  <div class="intro">
      <h2> Welcome to a world of 2C to code and curate your projects.
      <br><%= link_to "CODE", codes_path%>, <%= link_to "CURATE", curates_path%> </h2>
  </div>
</div>

<div class='svg'>
  <%= render partial: 'shared/world' %>
</div>


 <footer class='footer-home'>
  <span class="copyright-home">
    <h1> © 2C 2020 </h1>
  </span>
</footer>

