<div id="home-text">
  <h1>
    <br>Username <a href="https://www.instagram.com/j_enaimarla/">j_enaimarla</a>
    <br><a href="https://www.google.com/search?q=google+translate&rlz=1C5CHFA_enBE879BE886&oq=google+translate&aqs=chrome..69i57j0l7.9968j0j7&sourceid=chrome&ie=UTF-8">“J’en ai marre là”</a>
    <br>ART
    <br> C² <%= link_to "Code", codes_path%> X <%= link_to "Curate", curates_path%>
  </h1>
</div>

<div class="name">
  <!-- <hr style= "line: 1px thick black;"/> -->
  <h1>MARLA SH</h1>
</div>


