<div id="home-text">
  <h1>
    Welcome to a world of 2C to code and curate your projects.
  </h1>
</div>


 <div class="name">
    <h1> <%= link_to "Code", codes_path%>
      <br> <%= link_to "Curate", curates_path%> </h1>
 </div>

 <footer class='footer-home'>
  <span class="copyright">
    <h1> Made with love in Belgium © World of 2C 2020 </h1>
  </span>
</footer>

