<div id="home-text">
  <h1>
    Username <a href="https://www.instagram.com/j_enaimarla/">j_enaimarla</a> To pronounce “J’en ai marre là” Projects type ART
  </h1>
</div>


 <div class="name">
    <h1> <%= link_to "Code", codes_path%>
      <br> <%= link_to "Curate", codes_path%> </h1>
 </div>

 <footer class='footer'>
  <span class="copyright">
    <h1> Made with love in Belgium © MARLA SH 2020 </h1>
  </span>
</footer>


<!--
<div class="name">
  <h1>MARLA SH</h1>
</div>
 -->

