
<div class="main-container">
  <div class="flipHide">
    <div class='flex'>
      <div id="code-text">
        <h1>First C.
            <br>Freelance developper based in Belgium.
            Portfolios to show your art.
            Websites to sell or not your creations.
            Applications to develop your idea.
            Front-end gets an extra bonus.
            When I’m not coding , I’m curating.
            This was not a pitch.
        </h1>
      </div>

      <div id='code-path'>
        <h1> <%= link_to '1 CODE', codes_path %></h1>
      </div>
    </div>

    <div class="contact">
      <h1><a href="mailto: mshenaj@gmail.com">E-MAIL</a></h1>
    </div>

    <div class="back-button">
      <h1><%= link_to 'HOME', root_path %></h1>
    </div>

    <footer class='footer'>
      <span class="copyright">
        <h1> Made with love in Belgium © MARLA SH 2020 </h1>
      </span>
    </footer>
  </div>


  <div class="flipShow">
    <div class='flex'>
      <div id='curate-path'>
        <h1>  <%= link_to '2 CURATE', codes_path %></h1>
      </div>

      <div id="curate-text">
        <h1>Second C.
            <br>Independent curator based in Belgium.
            Curating your art. The art of curating.
            Exhibition organisation.
            On your marks, set, go.
            Against the flow. For the culture.
            When I’m not curating , I’m coding.
            This was not a pitch.
        </h1>
      </div>

    </div>

    <div class="contact-curate">
      <h1><a href="mailto: mshenaj@gmail.com">E-MAIL</a></h1>
    </div>

    <div class="back-button-curate">
      <h1><%= link_to 'HOME', root_path %></h1>
    </div>

    <footer class='footer'>
      <span class="copyright">
        <h1> Made with love in Belgium © MARLA SH 2020 </h1>
      </span>
    </footer>
  </div>
</div>




