

  <div id='code-path'>
    <p> <%= link_to '2 CURATE', curates_path %>, <%= link_to 'HOME', root_path %></p>
  </div>

<!--   <div id="code-text">
      <p>First C.
        <br>Web developper based in Belgium.
        Portfolios to show your art.
      Websites to sell or not your creations.
      Applications to develop your ideas.
      Front-end gets an extra bonus.
      </p>
  </div> -->

<div class="projets">
  <p>web projects [links available soon]</p>
</div>



<div class="projects">
  <div class="project">
    <p>albert shena</p>
  </div>
  <div class="project">
    <p>charles durand</p>
  </div>
  <div class="project">
    <p>le garage</p>
  </div>
  <div class="project">
    <p>approximatif</p>
  </div>
</div>




