// Place all the styles related to the codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ANIMATION POUR LE FLIP



  .flipShow {
    animation: flipShow 2s ease;
  }

  .flipHide {
    animation: flipHide 2s ease;
  }

  @keyframes flipShow {
    0% { transform: none; }
    25% { transform: translate3d(10px 10px 10px); }
    50% { transform: translate3d(20px 20px 20px); }
    75% { transform: translate3d(10px 10px 10px); }
    100% { transform: none; }
  }

  @keyframes flipHide {
    0% { transform: none; }
    25% { transform: translate3d(10px 10px 10px); }
    50% { transform: translate3d(20px 20px 20px); }
    75% { transform: translate3d(10px 10px 10px); }
    100% { transform: none; }
  }

.main-container {
  height: 100vh;
}

.flex, .flex-curate {
  display: flex;
  justify-content: space-around;
}

.info-code, .copyright {
  text-align: center;
  margin: 0 auto;
   h1 {
    font-family: 'Anton';
  }
}


// CSS POUR LA PAGE CODE

#code-text {
  text-transform: uppercase;
  letter-spacing: 0.07vw;
  line-height: 1.2;
  text-align: center;
  h1 {
    font-family: 'Anton';
    font-size: 7vw;
    color: #252525;
    font-weight: ligher;
  }
}

#code-path {
  text-align: left;
  h1 {
    height: 100vh;
    padding: 20px;
    background-color: #00ff26;
    font-family: 'Anton';
    font-size: 10vw;
    writing-mode: vertical-rl;
  }
  a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: lighter;
  }
  }

.info-code {
  letter-spacing: 0.07vw;
  line-height: 1.1;
   h1, a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #252525;
    color: #fffff0;
  }
}


// CSS POUR LA PAGE DE CURATE

#curate-text {
  text-transform: uppercase;
  letter-spacing: 0.07vw;
  line-height: 1.2;
  text-align: center;
  h1 {
    font-family: 'Anton';
    font-weight: lighter;
    font-size: 7vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #252525;
    color: #fdfdfd;
  }
}

#curate-path {
  text-align: left;
  h1 {
    height: 100vh;
    padding: 20px;
    background-color: #00ff26;
    font-family: 'Anton';
    font-size: 10vw;
    font-weight: lighter;
    writing-mode: vertical-rl;
    // text-orientation: upright;
  }
  a {
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #252525;
    color: #252525;
  }
  }

.info-curate {
  line-height: 1.1;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-family: 'Anton';
    letter-spacing: 1px;
    font-weight: lighter;
  }
   a {
    text-decoration:none;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #252525;
    color: #252525;
  }
}



// RESPONSIVENESS

// IPHONE X LANDSCAPE PORTRAIT
@media only screen
and (min-width : 375px)
and (max-width : 812px)
{

  .flex-curate {
    display: inline-block;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
  }


  #code-text {
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    h1 {
      letter-spacing: 1px;
      font-size: 50px;
      font-weight: lighter;
    }
    a {
      font-size: 50px;
    }
  }

  #code-path {
    text-align: center;
    margin: 0 auto;
      h1 {
        writing-mode: horizontal-tb;
        font-size: 70px;
        font-weight: lighter;
      }
      a {
        color: #fffff0;
      }
    }

  .info-code {
     a {
      letter-spacing: 0.3vw;
      font-size: 25px;
      color: #fffff0;
      font-weight: lighter;
    }
  }

  #curate-text {
    letter-spacing: 0.2vw;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 50px;
      font-weight: lighter;
      -webkit-text-stroke-width: 1.3px;
      -webkit-text-stroke-color: #252525;
      color: #fdfdfd;
    }

  }

  #curate-path {
    text-align: center;
    margin: 0 auto;
      h1 {
        font-size: 100px;
        font-weight: lighter;
        writing-mode: horizontal-tb;
      }
      a {
        color: #252525;
      }
    }

  .info-curate {
     a {
      letter-spacing: 0.3vw;
      font-size: 25px;
      color: #252525;
      font-weight: lighter;
    }
  }

}

// IPHONE 5&5s LANDSCAPE PORTRAIT
@media only screen
and (min-width : 320px)
and (max-width : 568px)
{

.flex-curate {
    display: inline-block;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
  }


  #code-text {
    letter-spacing: -0.3vw;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      font-weight: lighter;
    }
    a {
      font-size: 50px;
    }
  }

  #code-path {
    margin-top: 250px;
    text-align: center;
      h1 {
        writing-mode: horizontal-tb;
        font-size: 70px;
        font-weight: lighter;
      }
      a {
        color: #fffff0;
      }
    }

  .info-code {
     a {
      letter-spacing: 0.3vw;
      font-size: 25px;
      color: #fffff0;
      font-weight: lighter;
    }
  }

  #curate-text {
    letter-spacing: 0.2vw;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 38px;
      font-weight: lighter;
      -webkit-text-stroke-width: 1.3px;
      -webkit-text-stroke-color: #252525;
      color: #fdfdfd;
    }

  }

  #curate-path {
    margin-top: 250px;
    text-align: center;
      h1 {
        font-size: 60px;
        font-weight: lighter;
        writing-mode: horizontal-tb;
      }
      a {
        color: #252525;
      }
    }

  .info-curate {
     a {
      letter-spacing: 0.3vw;
      font-size: 25px;
      color: #252525;
      font-weight: lighter;
    }
  }

  .footer {
    .copyright {
      h1 {
        font-size: 10px;
      }
    }
  }

}







