// Place all the styles related to the codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: 'Karelia Web Outtakes';
    src: font-url( asset-path('KareliaWeb-Outtakes.woff2')) format('woff2'),
         font-url( asset-path('KareliaWeb-Outtakes.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}

// Mise en page

body {
  background-color: #f5f5f5;
}



// CSS POUR LA PAGE CODE

// #code-text {
//   width: 600px;
//   letter-spacing: 0.07vw;
//   line-height: 1.2;
//   text-align: left;
//   margin-left: 10px;
//   p {
//     font-family: 'Karelia Web Outtakes';
//     font-size: 13px;
//     color: black;
//     font-weight: ligher;
//   }
// }

#code-path {
  width: 600px;
  text-align: left;
  margin-left: 10px;
  p {
    font-family: 'Karelia Web Outtakes';
    font-size: 15px;
    font-weight: ligher;
  }
  a {
    text-decoration: underline;
    color: black;
  }
  }

  // .svg-code {
  //   #Calque_1 {
  //   position: absolute;
  //   height: 100px;
  //   margin-left: 500px;
  //   }
  // }

  .projets {
    width: 400px;
    margin-left: 10px;
    margin-top: 30px;
    border-bottom-style: solid;
    border-width: 1px;
  }

  .projects, .projets {
    p {
      font-family: 'Karelia Web Outtakes';
      font-size: 13px;
    }
  }

  .projects {
    margin-top: 100px;
    columns: 3;
    text-align: center;
    height: 580px;
  }

.project {
  border-style: solid;
  height: 200px;
  border-width: 1px;
  border-radius: 50%;
  border-color: #00ff26;
   p {
    margin-top: -10px;

  }

}


// CSS POUR LA PAGE DE CURATE

// #curate-text {
//   width: 600px;
//   margin-left: 10px;
//   letter-spacing: 0.07vw;
//   line-height: 1.2;
//   text-align: left;
//   p {
//     font-family: 'Karelia Web Outtakes';
//     font-size: 13px;
//     color: black;
//     font-weight: ligher;
//   }
// }

#curate-path {
  width: 600px;
  text-align: left;
  margin-left: 10px;
  p {
    font-family: 'Karelia Web Outtakes';
    font-size: 15px;
    font-weight: ligher;
  }
  a {
    text-decoration: underline;
    color: black;
  }
  }

// .svg-curate {
//     #Calque_1 {
//     position: absolute;
//     height: 700px;
//     margin-left: 550px;
//   }
//   }

.projects1 {
    columns: 2;
    text-align: center;
    width: 400px;
    margin: auto;
    p {
    font-family: 'Karelia Web Outtakes';
    font-size: 13px;
    font-weight: ligher;
    margin-top: 200px;
    margin-left: -200px;

  }
}

.project1 {
  border-style: solid;
  height: 400px;
  border-width: 1px;
  border-radius: 50%;
  border-color: #00ff26;
}






// RESPONSIVENESS
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{



// CSS POUR LA PAGE CODE

#code-text {
  width: 300px;
  letter-spacing: 0.07vw;
  line-height: 1.2;
}

#code-path {
  width: 300px;
}

.svg-code {
    #Calque_1 {
    position: absolute;
    height: 600px;
    margin-left: -160px;
    margin-top: 50px;
    }
  }

  .projets {
    width: 250px;
  }

    .project1 {
      margin-left: 130px;
      margin-top: 260px;
    }

    .project2 {
      margin-left: 50px;
      margin-top: 50px;
    }

    .project3 {
      margin-left: 20px;
      margin-top: 40px;
    }




// CSS POUR LA PAGE DE CURATE

#curate-text {
  width: 300px;
  letter-spacing: 0.07vw;
  line-height: 1.2;
}

#curate-path {
  width: 300px;
}

.svg-curate {
    #Calque_1 {
    position: absolute;
    height: 600px;
    margin-left: -160px;
    margin-top: 50px;
    }
  }

.curate1 {
    margin-left: 110px;
    margin-top: 200px;
    transform: rotate(-19deg)
  }

  .curate2 {
    margin-left: 50px;
    margin-top: 80px;
    transform: rotate(-19deg)
  }


}







