// Place all the styles related to the codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#code-text, #code-link, .contact, .back-button, .copyright {
  text-align: center;
  margin: 0 auto;
   h1 {
    font-family: 'Anton';
  }
}

#code-text {
  h1 {
    font-size: 100px;
    color: #ff0000
  }
}

#code-link {
  h1 {
    font-size: 150px;
  }
  a {
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    color: #fffff0;
    font-weight: lighter;
  }
  }

.contact, .back-button {
   a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    color: #fffff0;
  }
}

.footer {
  padding-top: 50px;
}

.copyright {
  h1 {
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ff0000;
  }
}

@media(max-width: 767px)

{

  #code-text {
    text-align: center;
    margin: 0 auto;
    h1 {
      font-size: 50px;
      font-weight: lighter;
    }
    a {
      font-size: 50px;
    }
  }


  #code-link {
    text-align: center;
    margin: 0 auto;
      h1 {
        font-size: 100px;
        font-weight: lighter;
      }
      a {
        color: #fffff0;
      }
    }

  .contact, .back-button {
     a {
      font-size: 30px;
      color: #fffff0;
      font-weight: lighter;
    }
  }


}
