// Place all the styles related to the curates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container, .contact, .back-button {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  h1 {
    font-size: 100px;
    color: #ff0000
  }
}

#curate-text {
  h1 {
    font-size: 150px;
  }
  a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    color: #fffff0;
  }
  }
